
      body {
        font-family: Arial, sans-serif;
        padding: 15px;
        background-color: #f4f4f4;
      }

      .login-form {
        max-width: 500px;
        margin: 35px auto;
        padding: 30px;
        border: 1px solid #2812ed;
        border-radius: 8px;
        background-color: rgb(18, 209, 243);
        box-shadow: 0 5px 10px rgba(28, 156, 215, 0.1);
      }
      .login-form input {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
      }
      .login-form button {
        background-color: #403d3d;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        margin-top: 15px;
      }
      #message {
        margin-top: 15px;
        padding: 10px;
        border-radius: 4px;
        font-weight: bold;
        text-align: center;
      }
      .error {
        color: red;
        background-color: #ffe8e8;
      }
      .success {
        color: green;
        background-color: #e8ffe8;
      }

      #text {
        color: blue;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
        padding: 5px;
        border: 1px solid #ccc;
      }
      .highlight {
        color: red;
        font-weight: bold;
      }
      #img-container {
        text-align: center;
        margin-top: 20px;
      }
      #image {
        width: 500px;
        height: auto;
        border: 2px solid #333;
      }
      hr {
        margin: 30px 0;
        border: 0;
        border-top: 2px dashed #ddd;
      }